<div class="demo">
	<div class="row">
		<div class="col-md-4 center">
			<%= image_tag 'NJAD_logo_slogan500.png', alt: 'Not Just a Date logo', class: 'logo' %>
		</div>
		<div class="col-md-8">
			<p><span class="highlight">Give them the date of their dreams.</span><br>Book one of our beautiful date packages today.</p>
			<p>Packages to suit any occasion</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="feature">
				<span class="highlight">Feature pack 1</span><hr>
				This package is a dinner and this and that. Background image darkened with text in white. Booking button (tick) to the side.<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="feature">
				<span class="highlight">Feature pack 2</span><hr>
				This package is a dinner and this and that. Background image darkened with text in white. Booking button (tick) to the side.<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="feature">
				<span class="highlight">Feature pack 3</span><hr>
				This package is a dinner and this and that. Background image darkened with text in white. Booking button (tick) to the side.<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="feature">
				<span class="highlight">Feature pack 4</span><hr>
				This package is a dinner and this and that. Background image darkened with text in white. Booking button (tick) to the side.<i class="fa fa-check checkbutton"> book now</i>
			</div>
		</div>
	</div>

	<div class="row">
	<p>Subscribe to get the latest offers and updates
		<%= link_to 'Subscribe', new_subscription_path, class: "button" %>
		</p>
	</div>

	<div id="floatmenu">
			<%= link_to 'Packages', demo_packages_path, class: "menuitem" %>
		<div class="menuitem">
			How it Works
		</div>
		<div class="menuitem">
			Contact Us
		</div>
		<div class="menuitem">
			Help
		</div>
	</div>
</div>
