<h1>Demonstration order form</h1>
<p>fill in your details or login if you are a member<br>
for new users - checkbox to become a member(free!)<br>
preferred payment method<br>
optional extras
</p>
optional extras
date chooser / availability checker