<div class="presentation">
	<div class="center">
		<%= image_tag 'logo.png', alt: 'Not Just a Date logo', class: 'logo' %>
	</div>
	<div class="col-md-6">
		<p><strong>Where are you taking your partner tonight?</strong></p>
		<p>Not Just A Date will be deployed as a dating planner and an event planner to help couples bring and maintain the spark of romance in their relationship during their busy and often unromantic lifestyles. A date maker for an appointment of love. <strong>A rendevouz d’amour.</strong></p>
	</div>
	<div class="col-md-6 center">
	<p>
		<%= link_to 'Check out the demo', demo_index_path, class: "button" %>
		<%= link_to 'Register your interest', home_register_path, class: "button" %>
	</p>
	</div>
</div>