<div class="presentation">
	<div class="col-sm-6 col-md-4 center">
		<%= image_tag 'NJAD_logo_slogan500.png', alt: 'Not Just a Date logo', class: 'logo' %>
	</div>
	<div class="col-sm-6 col-md-8">
		<p><span class="highlight">Where are you taking your partner tonight?</span></p>
	</div>
	<div class="col-sm-12 col-md-8">
		<p><span class="highlight">Not Just A Date</span> will be deployed as a dating planner and an event planner to help couples bring and maintain <span class="highlight">the spark of romance</span> in their relationship during their busy and often unromantic lifestyles. With <span class="highlight">Not Just A Date</span>, couples can make <span class="highlight">a rendez-vous d’amour</span> conveniently.</p>
	</div>
	<div class="hidden-sm col-md-8">
		<p>Between their career, their friends, and their children, people are more and more time poor and sometimes end up neglecting their significant other. When they finally get time to spend together, <span class="highlight">some couples struggle</span> to find ideas to <span class="highlight">make the moment special and cultivate romance</span>. After surveying 200 Australians, about 45% of them confirmed these assumptions. </p>
	</div>
	<div class="col-sm-12 col-md-4 center">
		<p>
		<%= link_to 'Check out the demo', splash_packages_path, class: "button" %>
		<%= link_to 'Register your interest', new_subscription_path, class: "button" %>
		</p>
	</div>
</div>

