<div class="presentation col-md-12">
	<div class="col-md-4">
		<p class="highlight">Register your interest</p>
		<p>By registering your interest, you will receive news, updates, and offers.</p>
	</div>
	<div class="col-md-6">
	<p>Please enter your details...</p>
		<%= render 'form' %>
	</div>
		<%= link_to 'back', :back, class: "button" %>
</div>