<div class="presentation col-md-12">
	<div class="col-md-4">
		<p class="highlight">Register your interest</p>
	</div>
	<div class="col-md-6">
	<p>Please enter your details...</p>
		<%= render 'form' %>
	</div>
	<div class="col-md-6">
		<%= link_to 'back', :back, class: "button" %>
	</div>
</div>