// Place all the styles related to the demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo{
	background-color: #FFFFFF;
	display: inline-block;
	padding-bottom: 5em;
}

.demo p{
	background-color: #FFCC99;
	box-shadow: .5em .5em 2.5em -1em black;
	-webkit-box-shadow: .5em .5em 2.5em -1em black;
	width: 90%;
	margin: 5%;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;
	font-size: 1.7em;
	display: inline-block;
}

.feature{
	background-color: #FFCC99;
	box-shadow: .5em .5em 2.5em -1em black;
	-webkit-box-shadow: .5em .5em 2.5em -1em black;
	width: 90%;
	margin: 5%;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;
	font-size: 1.7em;
	display: inline-block;
}

#floatmenu{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 2em;
	background-color: #FFFFFF;
}

.menuitem{
	text-align: center;
	padding: .5em;
	display: inline-block;
	width: 24%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
.menuitem{
	width: 40%;
}

}