// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo{
	background-color: #FFFFFF;
	display: inline-block;
	padding-bottom: 5em;
	font-family: 'bodonixtregular';
	line-height: 1.5em;
}

.demo p{
	background-color: #FFCC99;
	box-shadow: .5em .5em 2.5em -1em black;
	-webkit-box-shadow: .5em .5em 2.5em -1em black;
	width: 90%;
	margin: 5%;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;
	font-size: 1.7em;
	display: inline-block;
	font-family: 'bodonixtregular';
	line-height: 1.5em;
}

#floatmenu{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 2em;
	text-align: center;
	background-color: #FFFFFF;
}

.menuitem{
	color: white;
	margin: .1em;
	text-align: center;
	padding: .5em;
	display: inline-block;
	width: 24%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em;
	box-shadow: .5em .5em 2.5em -1em black;
	-webkit-box-shadow: .5em .5em 2.5em -1em black;
	background: #e22938; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2UyMjkzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UyMjkzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NiMjQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjI0MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e22938 1%, #e22938 50%, #cb2432 50%, #cb2432 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e22938), color-stop(50%,#e22938), color-stop(50%,#cb2432), color-stop(100%,#cb2432)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e22938 1%,#e22938 50%,#cb2432 50%,#cb2432 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e22938 1%,#e22938 50%,#cb2432 50%,#cb2432 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e22938 1%,#e22938 50%,#cb2432 50%,#cb2432 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e22938 1%,#e22938 50%,#cb2432 50%,#cb2432 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e22938', endColorstr='#cb2432',GradientType=0 ); /* IE6-8 */
}

.controls {
	display: inline-block;

}

label {
	display: inline-block;
	margin: .5em;
	margin-right: 2em;
}

.checkbox{
	display: inline-block;
	margin: .5em;
}

.checkbox *{
	width: 2em;
	height: 2em;
}

.subscription_investor, .subscription_user{
	display: inline-block;
	margin-right: 2em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
.menuitem{
	width: 40%;
	font-size: .7em;
}

}